<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <% #article_path can be traced by rails routes, and here is link path to articles/id %>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <!--
	The options are used as HTML5 attributes so that when the link is clicked, Rails will first show a confirm dialog to the user, and then submit the link with method delete. This is done via the JavaScript file rails-ujs which is automatically included in your application's layout (app/views/layouts/application.html.erb)
      -->
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
	      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
