<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to 'Show', :contrller => "events", :action => "show", :id => event %></td>
        <td><%= link_to 'Edit', :contrller => "events", :action => "edit", :id => event %></td>
        <td><%= link_to 'Destroy', :contrller => "events", :action => "destroy", :id => event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', :controller => 'events', :action => 'new' %>
